{% extends 'AppBundle::layout.html.twig' %}
{% block main_content %}
    <div class="row box-breadcrumb">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Trang Chủ</a>
            <a href="#" class="btn btn-default">Liên Hệ</a>
        </div>
    </div>
    {{ render(url('app_block_news')) }}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-6">
                <h3 style="margin-bottom: 25px; text-align: center;">ĐỊA CHỈ LIÊN HỆ</h3>
                <div class="contact">
                    {% if(contact) %}
                        {{ contact.body|raw }}
                    {% endif %}
                </div>
                <br>
                <div class="map">
                    <div id="map"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-area">
                    <form role="form" action="#" method="post">
                        <h3 style="margin-bottom: 25px; text-align: center;">TIN NHẮN</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Tên của bạn" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" id="mobile" name="mobile"
                                   placeholder="Số điện thoại" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Tiêu đề"
                                   required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="textarea" id="message" placeholder="Tin nhắn"
                                      maxlength="140" rows="7"></textarea>
                            <span class="help-block"><p id="characterLeft" class="help-block ">Bạn vui lòng để lại lời nhắn</p></span>
                        </div>
                        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="span12 margin-top hidden-phone">
            <a rel="nofollow" title="Quảng c&#225;o footer">
                <img src="{{ asset('default/images/footer_6ad50663_d63f4d23.png') }}" class="img-responsive"
                     title="Quảng c&#225;o footer" alt=""/>
            </a>
        </div>
    </div>
    <script>
        function initMap() {
            var uluru = {lat: 10.837170, lng: 106.688531};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 20,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
            var infowindow = new google.maps.InfoWindow();
            marker.addListener('click', function () {
                map.setZoom(10);
                infowindow.setContent('Mỹ Phẩm Đẹp Rạng Ngời');
                infowindow.open(map, marker);
                map.setCenter(marker.getPosition());
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKphRSM9_O7y_BnL6bPUaNYKNK0lSnihs&callback=initMap">
    </script>
{% endblock %}