{% extends 'AppBundle::layout.html.twig' %}
{% block main_content %}

        <div class="row box-breadcrumb">
            <div class="btn-group btn-breadcrumb">
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
                <a href="#" class="btn btn-default">Trang Chủ</a>
                <a href="#" class="btn btn-default">Chi tiết Hàng</a>
                <a href="#" class="btn btn-default">Đặt hàng</a>
            </div>
        </div>
        <div class="row" style="margin-top: 25px;margin-bottom: 25px">
            <h1>Đặt Hàng Ngay</h1>
            <form action="/shop/cartupdate" id="ProductCartupdateForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div>
                <hr>

                <div class="row">
                    <div class="col col-sm-1">#</div>
                    <div class="col col-sm-7">Sản phẩm</div>
                    <div class="col col-sm-1">Giá</div>
                    <div class="col col-sm-1">SL</div>
                    <div class="col col-sm-1">VND</div>
                    <div class="col col-sm-1">Xoá</div>
                </div>
                <div class="row" id="row-2_0">
                    <div class="col col-sm-1"><img src="http://www.shoppingcartcore.com/images/small/celtek-merit-facemask-orange-black.jpg" class="px60 img-responsive" alt=""></div>
                    <div class="col col-sm-7">
                        <strong><a href="/product/celtek-merit-facemask-orange-black">Celtek Merit Facemask Orange/Black</a></strong>
                        <br>
                        <small></small>
                    </div>
                    <div class="col col-sm-1" id="price-2_0">19.95</div>
                    <div class="col col-sm-1"><input name="data[Product][quantity-2_0]" class="numeric form-control input-small" size="2" maxlength="2" tabindex="1" data-id="2" data-mods="" value="1" type="text" id="ProductQuantity-20"></div>
                    <div class="col col-sm-1" id="subtotal_2_0">19.95</div>
                    <div class="col col-sm-1"><a class="remove" id="2_0" href="/shop/remove/2_0" title="Remove item"><i class="glyphicon glyphicon-trash"></i></a></div>
                </div>

                <hr>

                <div class="row">
                    <div class="col col-sm-12">
                        <div class="pull-right">
                            <a href="javascipt:;" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> &nbsp;Xoá toàn bộ đơn hàng</a>        &nbsp; &nbsp;
                            <button class="btn btn-sm btn-default" type="button"><i class="fa fa-calculator"></i> &nbsp;Cập nhật</button>                </div>
                    </div>
                </div>
            </form>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-login main-center">
                        <form class="form-horizontal" method="post" action="#">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="name" id="name"  placeholder="Nhập Email"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="email" id="email"  placeholder="Nhập số điện thoại"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="email" id="email"  placeholder="Nhập tên của bạn"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="email" id="email"  placeholder="Nhập địa chỉ"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <select class="form-control">
                                        <optgroup label="Hồ Chí Minh">
                                            <option disabled selected>Chọn vị trí giao hàng (Phí được tính trực tiếp vào đơn hàng)</option>
                                            <option>Quận 1</option>
                                            <option>Quận 10</option>
                                        </optgroup>
                                        <optgroup label="Hà Nội">
                                            <option>Quận 1</option>
                                            <option>Quận 1</option>
                                            <option>Quận 1 Paper</option>
                                        </optgroup>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col col-sm-12 pull-right tr">
                                    Tổng số tiền: <span class="normal" id="subtotal">$19.95</span>
                                    <br>
                                    <br>
                                    Chi phí ship: <span class="normal">N/A</span>
                                    <br>
                                    <br>
                                    Tông chi phí: <span class="red" id="total">$19.95</span>
                                    <br>
                                    <br>

                                    <a href="javascript:;" class="btn btn-sm btn-success"><i class="fa fa-check"></i> &nbsp; Đặt hàng</a>
                                    <br>
                                    <br>

                                    <form action="javascript:;" id="ProductStep1Form" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12 margin-top hidden-phone">
                <a rel="nofollow" title="Quảng c&#225;o footer">
                    <img src="{{ asset('default/images/footer_6ad50663_d63f4d23.png') }}" class="img-responsive"
                         title="Quảng c&#225;o footer" alt=""/>
                </a>
            </div>
        </div>
{% endblock %}