{% extends 'AppBundle::layout.html.twig' %}
{% block main_content %}
    <div class="row show_result">
        <div class="alert alert-success">
            <strong> {{ variables.msg }}</strong>
        </div>
        <div class="row" style="margin-left: 25px;">
            <a href="/" title="Quay về Trang Chủ">Quay về trang chủ</a>
        </div>
    </div>
{% endblock %}