/* CSS Document */
.clear {
    clear: both;
}
body {margin: 0; height: 100%; overflow-x: hidden}

body {
    font-family: 'Roboto';
    font-weight: 400;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#main {
    padding-bottom: 20px;
    max-width: 960px !important;
}

/************************adv***********************************/
.slide-left,
.slide-right {
    position: absolute;
    margin: 0 !important;
    max-width: 150px !important;
}

.slide-left,
.slide-right {
    top: 0px;
}

.slide-left {
    left: 0 !important;
}

.slide-right {
    right: 0 !important;
}


/*For menu*/

.navbar, .dropdown-menu{
    background: rgb(218, 110, 162);
    border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
    border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    border-bottom: 3px solid transparent;
    background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
    color: #fff;
}
.dropdown-menu{
    -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
    border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
    border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
    border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
    border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
    border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
    border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
    border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
    border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}
.box-slogan {
    margin-top: 55px;
}
.box-search {
    margin-top: 35px;
}
.box-search .input-group:hover {
    border: 2px solid #e4101c;
    border-radius : 7px;
}
.navbar-default .navbar-nav>li>a {
     color: #fff;
}

.navbar-default .btn-order {
    background: url(../images/btn-cart.png) no-repeat -3px 2px;
    float: right;
    line-height: 25px;
}

.p-search {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
}
.box-slogan {
    margin-left: auto;
    margin-right: auto;
}
.box-title-1 {
    background: url(../images/box-titlle-1.png) 0px no-repeat;
    height: 110px;
    left: -39px;
    position: relative;
    top: -46px;
}
.text-box-1 {
    padding: 30px 0px 0 45px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.adv-home img {
    margin-top: -55px !important;
    max-height: 310px !important;
}

.p-letter-1 {
    /* margin: 10px 10px 0 10px; */
    color: #dc5d94;
    font-weight: bold;
    text-transform: uppercase;
}
.p-letter-2 {
    color: #999;
    font-size: 12px;
    margin: 10px 0 0 0;
    line-height: 14px;
    font-style: italic;
}
.p-letter-3 {
    /* margin: 10px 10px 0 10px; */
    color: #dc5d94;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.btn-detail {
    padding: 5px 12px;
    background: #da6ea2;
    color: #fff;
    float: right;
    margin-bottom: 5px;
}
.thumbnail .box-price {
    margin-top: 10px;
}
.list-group-image {
    max-height: 250px;
}


.boder-box {
     background: #F7F6FB;
    border-radius: 5px;
    position: relative;
     overflow: hidden;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 10px;
    padding: 15px;
}
.box-category .product-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: normal;
    line-height: 30px;
}
.caption a:hover {
    color: #dc5d94;
}
.thumbnail .row.price {
    margin-top: 20px;
}
 .box-category .product-description{
     font-size: 14px;
     margin-top: 5px;
 }

.product_price {
    font-size: 16px;
    font-weight: bold;
    color: #dc5d94;
}
.product_price_old {
    margin-left: 25px;
    font-size: 12px;
    color: #808080;
    text-decoration: line-through;
}

.price .lead {
    font-size: 16px;
    font-weight: bold;
}
.price span.lead-old {
    font-size: 12px;
    color: #808080;
    text-decoration: line-through;
}
.box-category .thumbnail:hover {
    border: 1px solid #dc5d94;
    border-radius : 7px;
    z-index: 100;
}

#map {
    height: 200px;
    width: 100%;
}

.footer {
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;/*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
}



.title-widget {
    color: #898989;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}
.text-news-home {
    text-align: left;
    background: url(../images/bg-news.png) 0px no-repeat;
    line-height: 20px;
    padding-left: 20px;
    margin: 10px;
    font-size: 14px;
    color: rgba(50, 50, 50, 0.75);
    margin: 0;
}
.text-news-home:hover {
    color: #ad316e;
}
.view-all-ex {
    margin-top: 10px;
    color: #ad316e;
    width: 100%;
    text-align: right;
}
.view-all {
    color: #ad316e;
    width: 100%;
}

.box-title-2 {
    background: url(../images/box-title-2.png) 0px no-repeat;
    background-position: center;
    top: -50px;
    position: relative;
    background-position: center;
    height: 80px;
    text-align: right;
}
.text-box-2 {
    padding-top: 25px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.box-category {
    margin-top: 25px;
}
.box-category .row-list-item {
    margin-left: 0;margin-right: 0
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*
    Only Needed in Multi-Coloured Variation
                                               */
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
.slide-left,
.slide-right {
    display: none !important;
}


/*list-new*/

.main-content .new-list{
    float: left;
    width: 70.1%;
    padding: 1.5% 0;
}
.main-content .box1 {
    border-bottom: 1px solid #D8D8D8;
    padding: 15px 0;
}
.main-content .new-list h3 {
    font-size: 22px;
    color: #666;
    padding-bottom: 5px;
    font-family: 'Monda', sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.main-content .new-list h3 a {
    font-size: 22px;
    color: #666;
    padding-bottom: 5px;
    font-family: 'Monda', sans-serif;
}
.main-content .new-list .box1 span {
    font-size: 13px;
    color: #666;
    font-size: 0.8em;
    font-family: 'Monda', sans-serif;
    display: block;
}

.main-content .new-list .view {
    width: 30.2%;
    height: 179px;
    margin: 10px 15px 10px 0;
    float: left;
    position: relative;
    border: 5px solid #fff;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -o-perspective: 500px;
    -ms-perspective: 500px;
    perspective: 500px;
}
.view div.view-back {
    height: 100%;
    position: absolute;
    right: 0;
    background: #222;
    z-index: 0;
}
.main-content .new-list .data {
    padding: 1.5% 0;
}
.main-content .new-list .box1 p {
    font-size: 12px;
    line-height: 1.8em;
    color: #444;
}

/*breadcrumb*/

/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.box-breadcrumb {
    margin-top: 25px;
    margin-bottom: 25px;
}
.btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
    border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
    border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
    border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
    border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
    border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
    border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
    border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
    border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
    border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
    border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
    border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
    border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
    border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
    border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
    border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
    border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
    border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
    border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
    border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
    border-left: 10px solid #269abc;
}
/*end*/
/*sider-bar*/

/*card*/
.px60 {
    height: 60px;
}
h3.title-category {
    text-transform: uppercase;font-size: 18px;margin-left: 5px;font-weight: bold
}



/*form*/



@media (min-width: 1199px)  and (max-width: 1366px) {
    .slide-left,
    .slide-right {
        display: block !important;
        margin: 0 !important;
        max-width: 120px !important;
    }

}
@media only screen and (min-width: 1366px){
    .slide-left,
    .slide-right {
        display: block !important;
        margin: 0 !important;
        max-width: 150px !important;
    }
}
@media (min-width: 768px) {
    .navbar-nav .dropdown-menu .caret
    {
        transform: rotate(-90deg);
    }
    .main-menu {
        max-width: 85%;
        font-size: 16px;
    }
    .box-search .logo {
        margin-top: -10px;
    }
    .list-group-image {
        min-height: 250px;
    }
}

@media (max-width: 767px) {
    .box-breadcrumb {
        margin-top: 75px;
        margin-bottom: 25px;
    }
    .slide-left,
    .slide-right {
      display: none !important;
    }
    .box-slogan {
        display: none;
    }
}
